<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
</head>
<body>

    <header>
        <img src="" alt="Uma pessoa feliz no computador" class="logo">
    </header>

    <main>
        <h1>Autenticação com OAuth2.0</h1>
        <div class="social-media">
            <div class="social-media-details">
                <a href="">
                    <img src="" alt="Ícone para realizar a autenticação com GitHub">
                    <p>Autenticar com GitHub</p>
                </a>
            </div>
        </div>
    </main>

</body>
</html>